<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>Register</h1>
            <br/>
            <img class="edit" th:src="@{/photos/register.jpg}" alt="register"/>
            <br/>
            <form th:action="@{/register}" th:method="post">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Enter confirm password">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email">
                </div>
                <button type="submit" id="submitButton" class="btn re-background">Register</button>
            </form>
        </div>
    </main>
    <br/>
    <footer class="mt-4">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>