<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron re-background mt-4">
            <h1>Unauthorized</h1>
            <hr/>
            <img class="edit" th:src="@{/photos/unauthorized-key.jpg}" alt="key"/>
        </div>
    </main>
    <br/>
    <footer class="mt-4">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>