<th:block>
    <footer class="mt-3">
        <div class="container-fluid bg-light">
            <div class="text-dark font-weight-bold p-2 text-center">
                © CopyRight Dimo Dimov for Java MVC Frameworks - Spring - February 2019 project defenses.
                <a href="https://github.com/DimovDimo/university/blob/master/LICENSE">MIT License</a>
                <a href="https://github.com/DimovDimo/university">GitHub repository</a>
            </div>
        </div>
    </footer>
</th:block>